s198d98-ebis-adf/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "s198d98-ebis-adf"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/blob_s198d16_NonFinancial')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "NonFinancial",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"RunType",
										"RunId",
										"URN"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "RunType",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RunType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RunId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RunId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "URN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "URN",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EstablishmentType",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EstablishmentType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TotalInternalFloorArea",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalInternalFloorArea",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "BuildingAverageAge",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BuildingAverageAge",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TotalPupils",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalPupils",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TotalPupilsSixthForm",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalPupilsSixthForm",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TotalPupilsNursery",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalPupilsNursery",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "WorkforceHeadcount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "WorkforceHeadcount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "WorkforceFTE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "WorkforceFTE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TeachersHeadcount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TeachersHeadcount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TeachersFTE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TeachersFTE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "SeniorLeadershipHeadcount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SeniorLeadershipHeadcount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "SeniorLeadershipFTE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SeniorLeadershipFTE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TeachingAssistantHeadcount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TeachingAssistantHeadcount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TeachingAssistantFTE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TeachingAssistantFTE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "NonClassroomSupportStaffHeadcount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NonClassroomSupportStaffHeadcount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "NonClassroomSupportStaffFTE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NonClassroomSupportStaffFTE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "AuxiliaryStaffHeadcount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AuxiliaryStaffHeadcount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "AuxiliaryStaffFTE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AuxiliaryStaffFTE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PercentTeacherWithQualifiedStatus",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PercentTeacherWithQualifiedStatus",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PercentFreeSchoolMeals",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PercentFreeSchoolMeals",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PercentSpecialEducationNeeds",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PercentSpecialEducationNeeds",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PercentWithEducationalHealthCarePlan",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PercentWithEducationalHealthCarePlan",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PercentWithoutEducationalHealthCarePlan",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PercentWithoutEducationalHealthCarePlan",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "KS2Progress",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "KS2Progress",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "KS4Progress",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "KS4Progress",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PredictedPercentChangePupils3To5Years",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PredictedPercentChangePupils3To5Years",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PercentWithVI",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PercentWithVI",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PercentWithSPLD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PercentWithSPLD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PercentWithSLD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PercentWithSLD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PercentWithSLCN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PercentWithSLCN",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PercentWithSEMH",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PercentWithSEMH",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PercentWithPMLD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PercentWithPMLD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PercentWithPD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PercentWithPD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PercentWithOTH",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PercentWithOTH",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PercentWithMSI",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PercentWithMSI",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PercentWithMLD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PercentWithMLD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PercentWithHI",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PercentWithHI",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PercentWithASD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PercentWithASD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "blob_NonFinancial",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "s198d16_NonFinancial",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_s198d02_school')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "blob_s198d02"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "blob_school",
								"type": "DatasetReference"
							},
							"name": "Source"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "s198d02_school",
								"type": "DatasetReference"
							},
							"name": "Sink"
						}
					],
					"transformations": [
						{
							"name": "DerivedColumn"
						},
						{
							"name": "AlterRow"
						}
					],
					"scriptLines": [
						"source(output(",
						"          URN as string,",
						"          SchoolName as string,",
						"          TrustCompanyNumber as string,",
						"          TrustName as string,",
						"          FederationLeadURN as string,",
						"          FederationLeadName as string,",
						"          LACode as string,",
						"          LAName as string,",
						"          LondonWeighting as string,",
						"          FinanceType as string,",
						"          OverallPhase as string,",
						"          SchoolType as string,",
						"          HasSixthForm as string,",
						"          HasNursery as string,",
						"          IsPFISchool as string,",
						"          OfstedDate as string,",
						"          OfstedDescription as string,",
						"          Telephone as string,",
						"          Website as string,",
						"          AddressStreet as string,",
						"          AddressLocality as string,",
						"          AddressLine3 as string,",
						"          AddressTown as string,",
						"          AddressCounty as string,",
						"          AddressPostcode as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> Source",
						"Source derive(HasSixthForm = toBoolean(HasSixthForm),",
						"          HasNursery = toBoolean(HasNursery),",
						"          IsPFISchool = toBoolean(IsPFISchool),",
						"          OfstedDate = toDate(OfstedDate)) ~> DerivedColumn",
						"DerivedColumn alterRow(upsertIf(true())) ~> AlterRow",
						"AlterRow sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          URN as string,",
						"          SchoolName as string,",
						"          TrustCompanyNumber as string,",
						"          TrustName as string,",
						"          FederationLeadURN as string,",
						"          FederationLeadName as string,",
						"          LACode as string,",
						"          LAName as string,",
						"          LondonWeighting as string,",
						"          FinanceType as string,",
						"          OverallPhase as string,",
						"          SchoolType as string,",
						"          HasSixthForm as boolean,",
						"          HasNursery as boolean,",
						"          IsPFISchool as boolean,",
						"          OfstedDate as date,",
						"          OfstedDescription as string,",
						"          Telephone as string,",
						"          Website as string,",
						"          AddressStreet as string,",
						"          AddressLocality as string,",
						"          AddressLine3 as string,",
						"          AddressTown as string,",
						"          AddressCounty as string,",
						"          AddressPostcode as string",
						"     ),",
						"     deletable:false,",
						"     insertable:false,",
						"     updateable:false,",
						"     upsertable:true,",
						"     keys:['URN'],",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     saveOrder: 1,",
						"     errorHandlingOption: 'allErrors',",
						"     transactionCommit: 'single',",
						"     reportSuccessOnError: false) ~> Sink"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_s198d02_trust')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "blob_s198d02"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "blob_trust",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "s198d02_Trust",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "AlterRow1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          CompanyNumber as string,",
						"          TrustName as string,",
						"          CFOName as string,",
						"          CFOEmail as string,",
						"          OpenDate as string,",
						"          UID as string,",
						"          TrustUPIN as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 derive(OpenDate = toDate(OpenDate)) ~> derivedColumn1",
						"derivedColumn1 alterRow(upsertIf(true())) ~> AlterRow1",
						"AlterRow1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          CompanyNumber as string,",
						"          TrustName as string,",
						"          CFOName as string,",
						"          CFOEmail as string,",
						"          OpenDate as date,",
						"          UID as string,",
						"          TrustUPIN as string",
						"     ),",
						"     deletable:false,",
						"     insertable:false,",
						"     updateable:false,",
						"     upsertable:true,",
						"     keys:['CompanyNumber'],",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'allErrors',",
						"     transactionCommit: 'single',",
						"     reportSuccessOnError: false) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_s198d16_school')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "blob_s198d16"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "blob_school",
								"type": "DatasetReference"
							},
							"name": "Source"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "s198d16_school",
								"type": "DatasetReference"
							},
							"name": "Sink"
						}
					],
					"transformations": [
						{
							"name": "DerivedColumn"
						},
						{
							"name": "AlterRow"
						}
					],
					"scriptLines": [
						"source(output(",
						"          URN as string,",
						"          SchoolName as string,",
						"          TrustCompanyNumber as string,",
						"          TrustName as string,",
						"          FederationLeadURN as string,",
						"          FederationLeadName as string,",
						"          LACode as string,",
						"          LAName as string,",
						"          LondonWeighting as string,",
						"          FinanceType as string,",
						"          OverallPhase as string,",
						"          SchoolType as string,",
						"          HasSixthForm as string,",
						"          HasNursery as string,",
						"          IsPFISchool as string,",
						"          OfstedDate as string,",
						"          OfstedDescription as string,",
						"          Telephone as string,",
						"          Website as string,",
						"          AddressStreet as string,",
						"          AddressLocality as string,",
						"          AddressLine3 as string,",
						"          AddressTown as string,",
						"          AddressCounty as string,",
						"          AddressPostcode as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> Source",
						"Source derive(HasSixthForm = toBoolean(HasSixthForm),",
						"          HasNursery = toBoolean(HasNursery),",
						"          IsPFISchool = toBoolean(IsPFISchool),",
						"          OfstedDate = toDate(OfstedDate)) ~> DerivedColumn",
						"DerivedColumn alterRow(upsertIf(true())) ~> AlterRow",
						"AlterRow sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          URN as string,",
						"          SchoolName as string,",
						"          TrustCompanyNumber as string,",
						"          TrustName as string,",
						"          FederationLeadURN as string,",
						"          FederationLeadName as string,",
						"          LACode as string,",
						"          LAName as string,",
						"          LondonWeighting as string,",
						"          FinanceType as string,",
						"          OverallPhase as string,",
						"          SchoolType as string,",
						"          HasSixthForm as boolean,",
						"          HasNursery as boolean,",
						"          IsPFISchool as boolean,",
						"          OfstedDate as date,",
						"          OfstedDescription as string,",
						"          Telephone as string,",
						"          Website as string,",
						"          AddressStreet as string,",
						"          AddressLocality as string,",
						"          AddressLine3 as string,",
						"          AddressTown as string,",
						"          AddressCounty as string,",
						"          AddressPostcode as string",
						"     ),",
						"     deletable:false,",
						"     insertable:false,",
						"     updateable:false,",
						"     upsertable:true,",
						"     keys:['URN'],",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     saveOrder: 1,",
						"     errorHandlingOption: 'allErrors',",
						"     transactionCommit: 'single',",
						"     reportSuccessOnError: false) ~> Sink"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_s198d16_trust')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "blob_s198d16"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "blob_trust",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "s198d16_Trust",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "AlterRow1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          CompanyNumber as string,",
						"          TrustName as string,",
						"          CFOName as string,",
						"          CFOEmail as string,",
						"          OpenDate as string,",
						"          UID as string,",
						"          TrustUPIN as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 derive(OpenDate = toDate(OpenDate)) ~> derivedColumn1",
						"derivedColumn1 alterRow(upsertIf(true())) ~> AlterRow1",
						"AlterRow1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          CompanyNumber as string,",
						"          TrustName as string,",
						"          CFOName as string,",
						"          CFOEmail as string,",
						"          OpenDate as date,",
						"          UID as string,",
						"          TrustUPIN as string",
						"     ),",
						"     deletable:false,",
						"     insertable:false,",
						"     updateable:false,",
						"     upsertable:true,",
						"     keys:['CompanyNumber'],",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'allErrors',",
						"     transactionCommit: 'single',",
						"     reportSuccessOnError: false) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_s198d02')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "School",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "blob_s198d02_school",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Source": {},
									"Sink": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "ComparatorSet",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "School",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"URN"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "RunType",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RunType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RunId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RunId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "URN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "URN",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SetType",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SetType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pupil",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pupil",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Building",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "blob_comparatorSet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "s198d02_ComparatorSet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/blob_s198d02_school')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_s198d02_trust')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "trust",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "blob_s198d02_trust",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/blob_s198d02_trust')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_s198d16')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "School",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "blob_s198d16_school",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Source": {},
									"Sink": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "ComparatorSet",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "School",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"URN"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "RunType",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RunType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RunId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RunId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "URN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "URN",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SetType",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SetType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pupil",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pupil",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Building",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "blob_comparatorSet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "s198d16_ComparatorSet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/blob_s198d16_school')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_s198d16_trust')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "trust",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "blob_s198d16_trust",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/blob_s198d16_trust')]"
			]
		}
	]
}