s198d98-ebis-adf/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "s198d98-ebis-adf"
		},
		"s198d01_keyvault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://s198d01-ebis-keyvault.vault.azure.net/"
		},
		"s198d02_keyvault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://s198d02-ebis-keyvault.vault.azure.net/"
		},
		"s198p02_keyvault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://s198p02-ebis-keyvault.vault.azure.net/"
		},
		"s198t01_keyvault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://s198t01-ebis-keyvault.vault.azure.net/"
		},
		"s198d01_sql_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "core-sql-connection-string"
		},
		"s198d02_sql_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "core-sql-connection-string"
		},
		"s198d98_storage_sasUri": {
			"type": "secureString",
			"metadata": "Secure string for 'sasUri' of 's198d98_storage'"
		},
		"s198d98_storage_properties_typeProperties_sasToken_secretName": {
			"type": "string",
			"defaultValue": "supporting-data-storage-sas-token"
		},
		"s198p02_sql_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "core-sql-connection-string"
		},
		"s198t01_sql_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "core-sql-connection-string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/s198d01_keyvault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('s198d01_keyvault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/s198d02_keyvault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('s198d02_keyvault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/s198p02_keyvault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('s198p02_keyvault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/s198t01_keyvault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('s198t01_keyvault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/s198d01_sql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "s198d01_keyvault",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('s198d01_sql_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/s198d01_keyvault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/s198d02_sql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "s198d02_keyvault",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('s198d02_sql_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/s198d02_keyvault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/s198d98_storage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": "[parameters('s198d98_storage_sasUri')]",
					"sasToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "s198d01_keyvault",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('s198d98_storage_properties_typeProperties_sasToken_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/s198d01_keyvault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/s198p02_sql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "s198p02_keyvault",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('s198p02_sql_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/s198p02_keyvault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/s198t01_sql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "s198t01_keyvault",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('s198t01_sql_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/s198t01_keyvault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_comparatorSet_copy1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "s198d98_storage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "blob"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "ComparatorSet",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "schooldb.xls",
						"container": "raw"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "RunType",
						"type": "String"
					},
					{
						"name": "RunId",
						"type": "String"
					},
					{
						"name": "URN",
						"type": "String"
					},
					{
						"name": "SetType",
						"type": "String"
					},
					{
						"name": "Pupil",
						"type": "String"
					},
					{
						"name": "Building",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/s198d98_storage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_school')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "s198d98_storage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "blob"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "School",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "schooldb.xls",
						"container": "raw"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "URN",
						"type": "String"
					},
					{
						"name": "SchoolName",
						"type": "String"
					},
					{
						"name": "TrustCompanyNumber",
						"type": "String"
					},
					{
						"name": "TrustName",
						"type": "String"
					},
					{
						"name": "FederationLeadURN",
						"type": "String"
					},
					{
						"name": "FederationLeadName",
						"type": "String"
					},
					{
						"name": "LACode",
						"type": "String"
					},
					{
						"name": "LAName",
						"type": "String"
					},
					{
						"name": "LondonWeighting",
						"type": "String"
					},
					{
						"name": "FinanceType",
						"type": "String"
					},
					{
						"name": "OverallPhase",
						"type": "String"
					},
					{
						"name": "SchoolType",
						"type": "String"
					},
					{
						"name": "HasSixthForm",
						"type": "String"
					},
					{
						"name": "HasNursery",
						"type": "String"
					},
					{
						"name": "IsPFISchool",
						"type": "String"
					},
					{
						"name": "OfstedDate",
						"type": "String"
					},
					{
						"name": "OfstedDescription",
						"type": "String"
					},
					{
						"name": "Telephone",
						"type": "String"
					},
					{
						"name": "Website",
						"type": "String"
					},
					{
						"name": "AddressStreet",
						"type": "String"
					},
					{
						"name": "AddressLocality",
						"type": "String"
					},
					{
						"name": "AddressLine3",
						"type": "String"
					},
					{
						"name": "AddressTown",
						"type": "String"
					},
					{
						"name": "AddressCounty",
						"type": "String"
					},
					{
						"name": "AddressPostcode",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/s198d98_storage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/s198d02_ComparatorSet_copy1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "s198d02_sql",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "s198d02"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "RunType",
						"type": "nvarchar"
					},
					{
						"name": "RunId",
						"type": "nvarchar"
					},
					{
						"name": "URN",
						"type": "nvarchar"
					},
					{
						"name": "SetType",
						"type": "nvarchar"
					},
					{
						"name": "Pupil",
						"type": "nvarchar"
					},
					{
						"name": "Building",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ComparatorSet"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/s198d02_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/s198d02_school')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "s198d02_sql",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "s198d02"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "URN",
						"type": "nvarchar"
					},
					{
						"name": "SchoolName",
						"type": "nvarchar"
					},
					{
						"name": "TrustCompanyNumber",
						"type": "nvarchar"
					},
					{
						"name": "TrustName",
						"type": "nvarchar"
					},
					{
						"name": "FederationLeadURN",
						"type": "nvarchar"
					},
					{
						"name": "FederationLeadName",
						"type": "nvarchar"
					},
					{
						"name": "LACode",
						"type": "nvarchar"
					},
					{
						"name": "LAName",
						"type": "nvarchar"
					},
					{
						"name": "LondonWeighting",
						"type": "nvarchar"
					},
					{
						"name": "FinanceType",
						"type": "nvarchar"
					},
					{
						"name": "OverallPhase",
						"type": "nvarchar"
					},
					{
						"name": "SchoolType",
						"type": "nvarchar"
					},
					{
						"name": "HasSixthForm",
						"type": "bit"
					},
					{
						"name": "HasNursery",
						"type": "bit"
					},
					{
						"name": "IsPFISchool",
						"type": "bit"
					},
					{
						"name": "OfstedDate",
						"type": "date"
					},
					{
						"name": "OfstedDescription",
						"type": "nvarchar"
					},
					{
						"name": "Telephone",
						"type": "nvarchar"
					},
					{
						"name": "Website",
						"type": "nvarchar"
					},
					{
						"name": "AddressStreet",
						"type": "nvarchar"
					},
					{
						"name": "AddressLocality",
						"type": "nvarchar"
					},
					{
						"name": "AddressLine3",
						"type": "nvarchar"
					},
					{
						"name": "AddressTown",
						"type": "nvarchar"
					},
					{
						"name": "AddressCounty",
						"type": "nvarchar"
					},
					{
						"name": "AddressPostcode",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "School"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/s198d02_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_s198d02_school')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "blob_s198d02"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "blob_school",
								"type": "DatasetReference"
							},
							"name": "Source"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "s198d02_school",
								"type": "DatasetReference"
							},
							"name": "Sink"
						}
					],
					"transformations": [
						{
							"name": "DerivedColumn"
						},
						{
							"name": "AlterRow"
						}
					],
					"scriptLines": [
						"source(output(",
						"          URN as string,",
						"          SchoolName as string,",
						"          TrustCompanyNumber as string,",
						"          TrustName as string,",
						"          FederationLeadURN as string,",
						"          FederationLeadName as string,",
						"          LACode as string,",
						"          LAName as string,",
						"          LondonWeighting as string,",
						"          FinanceType as string,",
						"          OverallPhase as string,",
						"          SchoolType as string,",
						"          HasSixthForm as string,",
						"          HasNursery as string,",
						"          IsPFISchool as string,",
						"          OfstedDate as string,",
						"          OfstedDescription as string,",
						"          Telephone as string,",
						"          Website as string,",
						"          AddressStreet as string,",
						"          AddressLocality as string,",
						"          AddressLine3 as string,",
						"          AddressTown as string,",
						"          AddressCounty as string,",
						"          AddressPostcode as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> Source",
						"Source derive(HasSixthForm = toBoolean(HasSixthForm),",
						"          HasNursery = toBoolean(HasNursery),",
						"          IsPFISchool = toBoolean(IsPFISchool),",
						"          OfstedDate = toDate(OfstedDate)) ~> DerivedColumn",
						"DerivedColumn alterRow(upsertIf(true())) ~> AlterRow",
						"AlterRow sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          URN as string,",
						"          SchoolName as string,",
						"          TrustCompanyNumber as string,",
						"          TrustName as string,",
						"          FederationLeadURN as string,",
						"          FederationLeadName as string,",
						"          LACode as string,",
						"          LAName as string,",
						"          LondonWeighting as string,",
						"          FinanceType as string,",
						"          OverallPhase as string,",
						"          SchoolType as string,",
						"          HasSixthForm as boolean,",
						"          HasNursery as boolean,",
						"          IsPFISchool as boolean,",
						"          OfstedDate as date,",
						"          OfstedDescription as string,",
						"          Telephone as string,",
						"          Website as string,",
						"          AddressStreet as string,",
						"          AddressLocality as string,",
						"          AddressLine3 as string,",
						"          AddressTown as string,",
						"          AddressCounty as string,",
						"          AddressPostcode as string",
						"     ),",
						"     deletable:false,",
						"     insertable:false,",
						"     updateable:false,",
						"     upsertable:true,",
						"     keys:['URN'],",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     saveOrder: 1,",
						"     errorHandlingOption: 'allErrors',",
						"     transactionCommit: 'single',",
						"     reportSuccessOnError: false) ~> Sink"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/blob_school')]",
				"[concat(variables('factoryId'), '/datasets/s198d02_school')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_s198d02')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "School",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "blob_s198d02_school",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Source": {},
									"Sink": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "ComparatorSet",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "School",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"URN"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "RunType",
											"type": "String"
										},
										"sink": {
											"name": "RunType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RunId",
											"type": "String"
										},
										"sink": {
											"name": "RunId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "URN",
											"type": "String"
										},
										"sink": {
											"name": "URN",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SetType",
											"type": "String"
										},
										"sink": {
											"name": "SetType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Pupil",
											"type": "String"
										},
										"sink": {
											"name": "Pupil",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Building",
											"type": "String"
										},
										"sink": {
											"name": "Building",
											"type": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "blob_comparatorSet_copy1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "s198d02_ComparatorSet_copy1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/blob_s198d02_school')]",
				"[concat(variables('factoryId'), '/datasets/blob_comparatorSet_copy1')]",
				"[concat(variables('factoryId'), '/datasets/s198d02_ComparatorSet_copy1')]"
			]
		}
	]
}