s198d98-ebis-adf/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "s198d98-ebis-adf"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/s198d02_Trust')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "s198d02_sql",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "s198d02"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CompanyNumber",
						"type": "nvarchar"
					},
					{
						"name": "TrustName",
						"type": "nvarchar"
					},
					{
						"name": "CFOName",
						"type": "nvarchar"
					},
					{
						"name": "CFOEmail",
						"type": "nvarchar"
					},
					{
						"name": "OpenDate",
						"type": "date"
					},
					{
						"name": "UID",
						"type": "nvarchar"
					},
					{
						"name": "TrustUPIN",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Trust"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/s198d02_school')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "s198d02_sql",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "s198d02"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "URN",
						"type": "nvarchar"
					},
					{
						"name": "SchoolName",
						"type": "nvarchar"
					},
					{
						"name": "TrustCompanyNumber",
						"type": "nvarchar"
					},
					{
						"name": "TrustName",
						"type": "nvarchar"
					},
					{
						"name": "FederationLeadURN",
						"type": "nvarchar"
					},
					{
						"name": "FederationLeadName",
						"type": "nvarchar"
					},
					{
						"name": "LACode",
						"type": "nvarchar"
					},
					{
						"name": "LAName",
						"type": "nvarchar"
					},
					{
						"name": "LondonWeighting",
						"type": "nvarchar"
					},
					{
						"name": "FinanceType",
						"type": "nvarchar"
					},
					{
						"name": "OverallPhase",
						"type": "nvarchar"
					},
					{
						"name": "SchoolType",
						"type": "nvarchar"
					},
					{
						"name": "HasSixthForm",
						"type": "bit"
					},
					{
						"name": "HasNursery",
						"type": "bit"
					},
					{
						"name": "IsPFISchool",
						"type": "bit"
					},
					{
						"name": "OfstedDate",
						"type": "date"
					},
					{
						"name": "OfstedDescription",
						"type": "nvarchar"
					},
					{
						"name": "Telephone",
						"type": "nvarchar"
					},
					{
						"name": "Website",
						"type": "nvarchar"
					},
					{
						"name": "AddressStreet",
						"type": "nvarchar"
					},
					{
						"name": "AddressLocality",
						"type": "nvarchar"
					},
					{
						"name": "AddressLine3",
						"type": "nvarchar"
					},
					{
						"name": "AddressTown",
						"type": "nvarchar"
					},
					{
						"name": "AddressCounty",
						"type": "nvarchar"
					},
					{
						"name": "AddressPostcode",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "School"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_s198d02_Financial')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Financial",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"URN",
										"RunType",
										"RunId"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "RunType",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RunType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RunId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RunId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "URN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "URN",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PeriodCoveredByReturn",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PeriodCoveredByReturn",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "FinancialPosition",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FinancialPosition",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TrustPosition",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TrustPosition",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EstablishmentType",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EstablishmentType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TotalPupils",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalPupils",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TotalInternalFloorArea",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalInternalFloorArea",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TotalIncome",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalIncome",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TotalExpenditure",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalExpenditure",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "InYearBalance",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "InYearBalance",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "RevenueReserve",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RevenueReserve",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TotalGrantFunding",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalGrantFunding",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TotalSelfGeneratedFunding",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalSelfGeneratedFunding",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "DirectRevenueFinancing",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DirectRevenueFinancing",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "DirectGrants",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DirectGrants",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PrePost16Funding",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PrePost16Funding",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "OtherDfeGrants",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OtherDfeGrants",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "OtherIncomeGrants",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OtherIncomeGrants",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "GovernmentSource",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GovernmentSource",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "CommunityGrants",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CommunityGrants",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "Academies",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Academies",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "IncomeFacilitiesServices",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IncomeFacilitiesServices",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "IncomeCateringServices",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IncomeCateringServices",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "DonationsVoluntaryFunds",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DonationsVoluntaryFunds",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "ReceiptsSupplyTeacherInsuranceClaims",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ReceiptsSupplyTeacherInsuranceClaims",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "InvestmentIncome",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "InvestmentIncome",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "OtherSelfGeneratedIncome",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OtherSelfGeneratedIncome",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TotalTeachingSupportStaffCosts",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalTeachingSupportStaffCosts",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TeachingStaffCosts",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TeachingStaffCosts",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "SupplyTeachingStaffCosts",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SupplyTeachingStaffCosts",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "EducationalConsultancyCosts",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EducationalConsultancyCosts",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "EducationSupportStaffCosts",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EducationSupportStaffCosts",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "AgencySupplyTeachingStaffCosts",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AgencySupplyTeachingStaffCosts",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TotalNonEducationalSupportStaffCosts",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalNonEducationalSupportStaffCosts",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "AdministrativeClericalStaffCosts",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AdministrativeClericalStaffCosts",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "AuditorsCosts",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AuditorsCosts",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "OtherStaffCosts",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OtherStaffCosts",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "ProfessionalServicesNonCurriculumCosts",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProfessionalServicesNonCurriculumCosts",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TotalEducationalSuppliesCosts",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalEducationalSuppliesCosts",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "ExaminationFeesCosts",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ExaminationFeesCosts",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "LearningResourcesNonIctCosts",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LearningResourcesNonIctCosts",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "LearningResourcesIctCosts",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LearningResourcesIctCosts",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TotalPremisesStaffServiceCosts",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalPremisesStaffServiceCosts",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "CleaningCaretakingCosts",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CleaningCaretakingCosts",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "MaintenancePremisesCosts",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MaintenancePremisesCosts",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "OtherOccupationCosts",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OtherOccupationCosts",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PremisesStaffCosts",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PremisesStaffCosts",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TotalUtilitiesCosts",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalUtilitiesCosts",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "EnergyCosts",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EnergyCosts",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "WaterSewerageCosts",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "WaterSewerageCosts",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "AdministrativeSuppliesNonEducationalCosts",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AdministrativeSuppliesNonEducationalCosts",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TotalGrossCateringCosts",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalGrossCateringCosts",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TotalNetCateringCostsCosts",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalNetCateringCostsCosts",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "CateringStaffCosts",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CateringStaffCosts",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "CateringSuppliesCosts",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CateringSuppliesCosts",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TotalOtherCosts",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalOtherCosts",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "DirectRevenueFinancingCosts",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DirectRevenueFinancingCosts",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "GroundsMaintenanceCosts",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GroundsMaintenanceCosts",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "IndirectEmployeeExpenses",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IndirectEmployeeExpenses",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "InterestChargesLoanBank",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "InterestChargesLoanBank",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "OtherInsurancePremiumsCosts",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OtherInsurancePremiumsCosts",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PrivateFinanceInitiativeCharges",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PrivateFinanceInitiativeCharges",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "RentRatesCosts",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RentRatesCosts",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "SpecialFacilitiesCosts",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SpecialFacilitiesCosts",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "StaffDevelopmentTrainingCosts",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "StaffDevelopmentTrainingCosts",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "StaffRelatedInsuranceCosts",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "StaffRelatedInsuranceCosts",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "SupplyTeacherInsurableCosts",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SupplyTeacherInsurableCosts",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "CommunityFocusedSchoolStaff",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CommunityFocusedSchoolStaff",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "CommunityFocusedSchoolCosts",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CommunityFocusedSchoolCosts",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TotalIncomeCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalIncomeCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TotalExpenditureCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalExpenditureCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "InYearBalanceCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "InYearBalanceCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "RevenueReserveCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RevenueReserveCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TotalGrantFundingCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalGrantFundingCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TotalSelfGeneratedFundingCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalSelfGeneratedFundingCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "DirectRevenueFinancingCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DirectRevenueFinancingCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "DirectGrantsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DirectGrantsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PrePost16FundingCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PrePost16FundingCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "OtherDfeGrantsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OtherDfeGrantsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "OtherIncomeGrantsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OtherIncomeGrantsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "GovernmentSourceCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GovernmentSourceCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "CommunityGrantsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CommunityGrantsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "AcademiesCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AcademiesCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "IncomeFacilitiesServicesCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IncomeFacilitiesServicesCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "IncomeCateringServicesCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IncomeCateringServicesCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "DonationsVoluntaryFundsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DonationsVoluntaryFundsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "ReceiptsSupplyTeacherInsuranceClaimsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ReceiptsSupplyTeacherInsuranceClaimsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "InvestmentIncomeCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "InvestmentIncomeCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "OtherSelfGeneratedIncomeCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OtherSelfGeneratedIncomeCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TotalTeachingSupportStaffCostsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalTeachingSupportStaffCostsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TeachingStaffCostsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TeachingStaffCostsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "SupplyTeachingStaffCostsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SupplyTeachingStaffCostsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "EducationalConsultancyCostsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EducationalConsultancyCostsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "EducationSupportStaffCostsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EducationSupportStaffCostsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "AgencySupplyTeachingStaffCostsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AgencySupplyTeachingStaffCostsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TotalNonEducationalSupportStaffCostsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalNonEducationalSupportStaffCostsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "AdministrativeClericalStaffCostsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AdministrativeClericalStaffCostsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "AuditorsCostsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AuditorsCostsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "OtherStaffCostsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OtherStaffCostsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "ProfessionalServicesNonCurriculumCostsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProfessionalServicesNonCurriculumCostsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TotalEducationalSuppliesCostsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalEducationalSuppliesCostsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "ExaminationFeesCostsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ExaminationFeesCostsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "LearningResourcesNonIctCostsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LearningResourcesNonIctCostsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "LearningResourcesIctCostsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LearningResourcesIctCostsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TotalPremisesStaffServiceCostsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalPremisesStaffServiceCostsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "CleaningCaretakingCostsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CleaningCaretakingCostsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "MaintenancePremisesCostsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MaintenancePremisesCostsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "OtherOccupationCostsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OtherOccupationCostsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PremisesStaffCostsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PremisesStaffCostsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TotalUtilitiesCostsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalUtilitiesCostsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "EnergyCostsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EnergyCostsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "WaterSewerageCostsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "WaterSewerageCostsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "AdministrativeSuppliesNonEducationalCostsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AdministrativeSuppliesNonEducationalCostsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TotalGrossCateringCostsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalGrossCateringCostsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TotalNetCateringCostsCostsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalNetCateringCostsCostsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "CateringStaffCostsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CateringStaffCostsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "CateringSuppliesCostsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CateringSuppliesCostsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TotalOtherCostsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalOtherCostsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "DirectRevenueFinancingCostsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DirectRevenueFinancingCostsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "GroundsMaintenanceCostsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GroundsMaintenanceCostsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "IndirectEmployeeExpensesCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IndirectEmployeeExpensesCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "InterestChargesLoanBankCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "InterestChargesLoanBankCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "OtherInsurancePremiumsCostsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OtherInsurancePremiumsCostsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PrivateFinanceInitiativeChargesCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PrivateFinanceInitiativeChargesCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "RentRatesCostsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RentRatesCostsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "SpecialFacilitiesCostsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SpecialFacilitiesCostsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "StaffDevelopmentTrainingCostsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "StaffDevelopmentTrainingCostsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "StaffRelatedInsuranceCostsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "StaffRelatedInsuranceCostsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "SupplyTeacherInsurableCostsCS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SupplyTeacherInsurableCostsCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TargetedGrants",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TargetedGrants",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "blob_Financial",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "s198d02_Financial",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_s198d02_MetricRAG')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "MetricRAG",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"RunType",
										"RunId",
										"URN",
										"Category",
										"SubCategory",
										"SetType"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "RunType",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RunType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RunId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RunId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "URN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "URN",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Category",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Category",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubCategory",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubCategory",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SetType",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SetType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Value",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Value",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "Mean",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Mean",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "DiffMean",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DiffMean",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PercentDiff",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PercentDiff",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "Percentile",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Percentile",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "Decile",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Decile",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "RAG",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RAG",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "blob_MetricRAG",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "s198d02_MetricRAG",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_s198d02_NonFinancial')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "NonFinancial",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"RunType",
										"RunId",
										"URN"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "RunType",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RunType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RunId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RunId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "URN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "URN",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EstablishmentType",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EstablishmentType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TotalInternalFloorArea",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalInternalFloorArea",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "BuildingAverageAge",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BuildingAverageAge",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TotalPupils",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalPupils",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TotalPupilsSixthForm",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalPupilsSixthForm",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TotalPupilsNursery",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalPupilsNursery",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "WorkforceHeadcount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "WorkforceHeadcount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "WorkforceFTE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "WorkforceFTE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TeachersHeadcount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TeachersHeadcount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TeachersFTE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TeachersFTE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "SeniorLeadershipHeadcount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SeniorLeadershipHeadcount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "SeniorLeadershipFTE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SeniorLeadershipFTE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TeachingAssistantHeadcount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TeachingAssistantHeadcount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "TeachingAssistantFTE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TeachingAssistantFTE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "NonClassroomSupportStaffHeadcount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NonClassroomSupportStaffHeadcount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "NonClassroomSupportStaffFTE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NonClassroomSupportStaffFTE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "AuxiliaryStaffHeadcount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AuxiliaryStaffHeadcount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "AuxiliaryStaffFTE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AuxiliaryStaffFTE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PercentTeacherWithQualifiedStatus",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PercentTeacherWithQualifiedStatus",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PercentFreeSchoolMeals",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PercentFreeSchoolMeals",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PercentSpecialEducationNeeds",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PercentSpecialEducationNeeds",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PercentWithEducationalHealthCarePlan",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PercentWithEducationalHealthCarePlan",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PercentWithoutEducationalHealthCarePlan",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PercentWithoutEducationalHealthCarePlan",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "KS2Progress",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "KS2Progress",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "KS4Progress",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "KS4Progress",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PredictedPercentChangePupils3To5Years",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PredictedPercentChangePupils3To5Years",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PercentWithVI",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PercentWithVI",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PercentWithSPLD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PercentWithSPLD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PercentWithSLD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PercentWithSLD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PercentWithSLCN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PercentWithSLCN",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PercentWithSEMH",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PercentWithSEMH",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PercentWithPMLD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PercentWithPMLD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PercentWithPD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PercentWithPD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PercentWithOTH",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PercentWithOTH",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PercentWithMSI",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PercentWithMSI",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PercentWithMLD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PercentWithMLD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PercentWithHI",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PercentWithHI",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									},
									{
										"source": {
											"name": "PercentWithASD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PercentWithASD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 16
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "blob_NonFinancial",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "s198d02_NonFinancial",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_s198d02_school')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "blob_s198d02"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "blob_school",
								"type": "DatasetReference"
							},
							"name": "Source"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "s198d02_school",
								"type": "DatasetReference"
							},
							"name": "Sink"
						}
					],
					"transformations": [
						{
							"name": "DerivedColumn"
						},
						{
							"name": "AlterRow"
						}
					],
					"scriptLines": [
						"source(output(",
						"          URN as string,",
						"          SchoolName as string,",
						"          TrustCompanyNumber as string,",
						"          TrustName as string,",
						"          FederationLeadURN as string,",
						"          FederationLeadName as string,",
						"          LACode as string,",
						"          LAName as string,",
						"          LondonWeighting as string,",
						"          FinanceType as string,",
						"          OverallPhase as string,",
						"          SchoolType as string,",
						"          HasSixthForm as string,",
						"          HasNursery as string,",
						"          IsPFISchool as string,",
						"          OfstedDate as string,",
						"          OfstedDescription as string,",
						"          Telephone as string,",
						"          Website as string,",
						"          AddressStreet as string,",
						"          AddressLocality as string,",
						"          AddressLine3 as string,",
						"          AddressTown as string,",
						"          AddressCounty as string,",
						"          AddressPostcode as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> Source",
						"Source derive(HasSixthForm = toBoolean(HasSixthForm),",
						"          HasNursery = toBoolean(HasNursery),",
						"          IsPFISchool = toBoolean(IsPFISchool),",
						"          OfstedDate = toDate(OfstedDate)) ~> DerivedColumn",
						"DerivedColumn alterRow(upsertIf(true())) ~> AlterRow",
						"AlterRow sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          URN as string,",
						"          SchoolName as string,",
						"          TrustCompanyNumber as string,",
						"          TrustName as string,",
						"          FederationLeadURN as string,",
						"          FederationLeadName as string,",
						"          LACode as string,",
						"          LAName as string,",
						"          LondonWeighting as string,",
						"          FinanceType as string,",
						"          OverallPhase as string,",
						"          SchoolType as string,",
						"          HasSixthForm as boolean,",
						"          HasNursery as boolean,",
						"          IsPFISchool as boolean,",
						"          OfstedDate as date,",
						"          OfstedDescription as string,",
						"          Telephone as string,",
						"          Website as string,",
						"          AddressStreet as string,",
						"          AddressLocality as string,",
						"          AddressLine3 as string,",
						"          AddressTown as string,",
						"          AddressCounty as string,",
						"          AddressPostcode as string",
						"     ),",
						"     deletable:false,",
						"     insertable:false,",
						"     updateable:false,",
						"     upsertable:true,",
						"     keys:['URN'],",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     saveOrder: 1,",
						"     errorHandlingOption: 'allErrors',",
						"     transactionCommit: 'single',",
						"     reportSuccessOnError: false) ~> Sink"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/s198d02_school')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_s198d02_trust')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "blob_s198d02"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "blob_trust",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "s198d02_Trust",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "AlterRow1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          CompanyNumber as string,",
						"          TrustName as string,",
						"          CFOName as string,",
						"          CFOEmail as string,",
						"          OpenDate as string,",
						"          UID as string,",
						"          TrustUPIN as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 derive(OpenDate = toDate(OpenDate)) ~> derivedColumn1",
						"derivedColumn1 alterRow(upsertIf(true())) ~> AlterRow1",
						"AlterRow1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          CompanyNumber as string,",
						"          TrustName as string,",
						"          CFOName as string,",
						"          CFOEmail as string,",
						"          OpenDate as date,",
						"          UID as string,",
						"          TrustUPIN as string",
						"     ),",
						"     deletable:false,",
						"     insertable:false,",
						"     updateable:false,",
						"     upsertable:true,",
						"     keys:['CompanyNumber'],",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'allErrors',",
						"     transactionCommit: 'single',",
						"     reportSuccessOnError: false) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/s198d02_Trust')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_s198d02')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "School",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "blob_s198d02_school",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Source": {},
									"Sink": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "ComparatorSet",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "School",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"URN"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "RunType",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RunType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RunId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RunId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "URN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "URN",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SetType",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SetType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pupil",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pupil",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Building",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "blob_comparatorSet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "s198d02_ComparatorSet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/blob_s198d02_school')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_s198d02_trust')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "trust",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "blob_s198d02_trust",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/blob_s198d02_trust')]"
			]
		}
	]
}